<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ page_title|default('eshop') }}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/colors.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/fancy-links.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}">
    <script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <ul class="nav navbar-nav cl-effect-12">
            <li><img src="#" alt=""></li>
            <li><a class="fancy-link" href="{{ path('index') }}">Domov</a></li>
            <li><a class="fancy-link" href="o-mne">O mne</a></li>
            <li><a class="fancy-link" href="kontakt">Kontakt</a></li>
        </ul>
    </nav>
    <div id="js-flash-messages-wrapper">
        {% include 'front/_includes/_flash_messages.html.twig' %}
    </div>
    {% block containerFluid %}{% endblock %}
    {% block container %}{% endblock %}
    <footer class="text-center text-muted">
        <a href="#">audiomaster.sk</a>   Copyright © 2017
    </footer>

    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/modernizr.js') }}"></script>
</body>
</html>